body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: black;
}

.hiasan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.emot {
    position: absolute;
    font-size: 30px;
}

.emot1 {
    top: 10%;
    left: 25%;
    font-size: 20px;
}

.emot2 {
    top: 70%;
    right: 25%;
    font-size: 20px;
}

.emot3 {
    top: 85%;
    left: 20%;
    font-size: 25px;
}

.emot4 {
    top: 50%;
    right: 30%;
    font-size: 35px;
}

.emot {
    position: absolute;
    font-size: 30px;
}

.emot5 {
    top: 50%;
    right: 5%;
}

.emot6 {
    top: 10%;
    right: 20%;
    font-size: 50px;
}

.emot7 {
    top: 60%;
    right: 75%;
    font-size: 35px;
}

.emot {
    position: absolute;
    font-size: 30px;
}

.emot8 {
    top: 25%;
    middle: 70%;
    font-size: 30px;
}

.emot9 {
    top: 65%;
    middle: 30%;
    font-size: 43px;
}

.emot10 {
    top: 90%;
    midlle: 60%;
    font-size: 15px;
}

.navbar {
  background-color: pink;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header b {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

header a:first-of-type {
    margin-left: auto;
}

header a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 80px);
    padding: 40px 60px;
    flex-wrap: wrap;
    margin-left: 360px;
}

.judul {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(229, 127, 190);
  background-color: rgb(213, 255, 200); 
  border: 3px solid rgb(240, 217, 187);            
  display: inline-block; 
  position: absolute;
  left: 45%;                   
  top: 15%;
}

.tengah {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(223, 170, 170); 
  border: 3px solid rgb(246, 214, 172);            
  display: inline-block; 
  position: absolute;
  left: 43%;                   
  top: 40%;
}

.ian1 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40px;
    top: 90px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(-7deg);
}

.ian1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian2 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40px;
    top: 500px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(10deg);
}

.ian2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian3 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 60px;
    top: 500px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(-14deg);
}

.ian3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian4 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 60px;
    top: 90px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(14deg);
}

.ian4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian5 {
    width: 200px;
    height: 200px;
    position: absolute;
    middle: 40px;
    top: 90px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(14deg);
}

.ian5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian6 {
    width: 200px;
    height: 200px;
    position: absolute;
    middle: 40px;
    top: 500px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(-15deg);
}

.ian6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian7 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 430px;
    top: 90px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(-14deg);
}

.ian7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian8 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 430px;
    top: 500px;
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
    transform: rotate(15deg);
}

.ian8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ian9 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 30%;
    border: 4px solid rgb(236, 242, 244);
}

.ian9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}